<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

		<title>Śmieciarka</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""/>
		
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 	
		<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
		<link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
		<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>
		
			
	</head>
	
	<body>	
		
		<div id="leftsidebar" class="leftsidebar" >
			<center>
				<h1 id = "Title"></h1>
				
				<b><p id = "Author"></p></b>
				
				<p id = "Description"></p>
				
				<b>Termin odbioru</b><br><br>
				
				<select id = "Availability"></select><br><br>
					
				<label><b>Wiadomość</b></label><br><br>

				<textarea placeholder="Dodaj wiadomość.." name="msg" required></textarea><br><br>
				
				<button id="buttonGet">Odbierz</button>
			</center>	
		</div>
		
		<div id="rightsidebar" class="rightsidebar" >
			<center>
				<h1>Dodaj ogłoszenie</h1>	
				<label for="title"><b>Tytuł ogłoszenia</b></label><br><br>
					<input type="text" id="title" name="title">
				<br><br>
				
				<label for="type" id="type"><b>Rodzaj artykułu</b></label><br><br>
				<select id="category">
					<option value="clothes">Odzież</option>
					<option value="furniture">Meble</option>
					<option value="electronics">Elektronika</option>
					<option value="hardware">Narzędzia</option>
					<option value="media">Książki, płyty i kasety</option>
					<option value="cosmetics">Kosmetyki</option>
					<option value="gardening">Ogród</option>
					<option value="pets">Artykuły dla zwierząt</option>
					<option value="home-furnishings">Wyposażenie domu</option>
					<option value="sport">Sport</option>
					<option value="miscancellous">inne</option>
				</select>
				<br><br>
				
				<label for="term" id = "term"><b>Termin odbioru</b><br><br>
					<small>
					<b>Poniedziałek</b> od
					<select id="start_monday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_monday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					</small><br>
					<small>
					
					<b>Wtorek</b>  od
					<select id="start_tuesday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_tuesday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					</small><br>
					<small>
					
					<b>Środa</b>  od
					<select id="start_wednesday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_wednesday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select><br>
					
					<b>Czwartek</b>  od
					<select id="start_thursday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_thursday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select><br>
					
					<b>Piątek</b>  od
					<select id="start_friday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_friday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select><br>
					
					<b>Sobota</b>  od
					<select id="start_saturday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_saturday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select><br>
					
					<b>Niedziela</b>  od
					<select id="start_sunday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					do
					<select id="end_sunday">
						<option value="None">Nie pasuje</option>
						<option value="7:00">7:00</option>
						<option value="9:00">9:00</option>
						<option value="11:00">11:00</option>
						<option value="13:00">13:00</option>
						<option value="15:00">15:00</option>
						<option value="17:00">17:00</option>
						<option value="19:00">19:00</option>
						<option value="21:00">21:00</option>
						<option value="23:00">23:00</option>
					</select>
					<br><br>
					</small>
				</label>
				<!-- <br>
				<button id="buttonAddOption" onclick="addTerm()">+</button> <button id="buttonDelOption" onclick="delTerm()">-</button>
				<br><br> -->
				
				<label for="description"><b>Opis</b></label><br><br>
					<textarea placeholder="Dodaj opis.." id="description" name="description" required></textarea>
				<br><br>
				
				<input type="file" id="file-selector" multiple> 
				<br><br>
				
				<label for="latlon"><b>Lokalizacja</b></label><br><br>
					<input type="text" id="lat" name="lat">
					<input type="text" id="lng" name="lng">
				<br><br>
			
				<button id="buttonGet" onclick="insertOffer()">Dodaj</button>
			</center>
		</div>
		
		<div id="map"></div>
		
		<button id="buttonAdd" onclick="addOffer()"> + </button>
				
		<script src="{{ url_for('static',filename='js/map.js') }}" defer> </script>
		
		<button id="open-filters-button" onclick="openForm()">Filtruj</button>
		
		<div class="form-popup" id="form-popup">
				<center style = "color: #3a4931;">
					<b><h1 style>Filtruj</h1>
					Kategoria<br><br></b>
					
					<input type="checkbox" id="clothes" name="clothes" value="clothes">
					<label for="clothes"> Odzież</label><br>
					
					<input type="checkbox" id="furniture" name="furniture" value="furniture">
					<label for="furniture"> Meble</label><br>
					
					<input type="checkbox" id="electronics" name="electronics" value="electronics">
					<label for="electronics"> Elektronika</label><br>
					
					<input type="checkbox" id="hardware" name="hardware" value="hardware">
					<label for="hardware"> Narzędzia</label><br>
					
					<input type="checkbox" id="media" name="media" value="media">
					<label for="media"> Książki, płyty i kasety</label><br>
					
					<input type="checkbox" id="cosmetics" name="cosmetics" value="cosmetics">
					<label for="cosmetics"> Kosmetyki</label><br>
					<input type="checkbox" id="gardening" name="gardening" value="gardening">
					<label for="gardening"> Ogród</label><br>
					
					<input type="checkbox" id="pets" name="pets" value="pets">
					<label for="pets"> Artykuły dla zwierząt</label><br>
					
					<input type="checkbox" id="home-furnishings" name="home-furnishings" value="home-furnishings">
					<label for="home-furnishings"> Wyposażenie domu</label><br>
					
					<input type="checkbox" id="sport" name="sport" value="sport">
					<label for="sport"> Sport</label><br>
					
					<input type="checkbox" id="miscancellous" name="miscancellous" value="miscancellous">
					<label for="miscancellous"> inne</label><br><br>
					
					
					<button id="buttonFilter" onclick="getFilteredOffers()">Filtruj</button><br><br>
					
					<button id="buttonClose" onclick="closeFilters()">Zamknij</button><br><br>
				</center>
		</div>
		
		<script src="{{ url_for('static',filename='js/main.js') }}" defer> </script>
	</body>
</html>