<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

		<title>Śmieciarka</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""/>
		
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 	
		<script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.js"></script>
		<link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
		<script src="https://cdn.maptiler.com/leaflet-maptilersdk/v2.0.0/leaflet-maptilersdk.js"></script>
		
			
	</head>
	
	<body>	
		
		<div id="leftsidebar" class="leftsidebar" >
			<center>
				<h1 id = "Title"></h1>
				<b><p id = "Author"></p></b>
				<p id = "Description"></p>
				<label for="term" id = "term"><b>Termin odbioru</b></label><br><br>
					<label><input type="date" id="date0" name="date1"> </label><br>
				<br>
					
				<label><b>Wiadomość</b></label><br>

				<textarea placeholder="Dodaj wiadomość.." name="msg" required></textarea><br><br>
				<button id="buttonGet">Odbierz</button>
					
			</center>	
		</div>
		
		<div id="rightsidebar" class="rightsidebar" >
			<center>
				<h1>Dodaj ogłoszenie</h1>	
				<label for="title"><b>Tytuł ogłoszenia</b></label><br>
					<input type="text" id="title" name="title">
				<br><br>
				
				<label for="type" id="type"><b>Rodzaj artykułu</b></label><br>
				<select>
					<option value="clothes">Odzież</option>
					<option value="furniture">Meble</option>
					<option value="electronics">Elektronika</option>
					<option value="hardware">Narzędzia</option>
					<option value="media">Książki, płyty i kasety</option>
					<option value="cosmetics">Kosmetyki</option>
					<option value="gardening">Ogród</option>
					<option value="pets">Artykuły dla zwierząt</option>
					<option value="miscancellous">inne</option>
				</select>
				<br><br>
				
				<label for="term" id = "term"><b>Termin odbioru</b></label><br>
					<label><input type="date" id="date1" name="date1"> </label><br>
				<br>
				
				<label for="description"><b>Opis</b></label><br>
					<textarea placeholder="Dodaj opis.." id="description" name="description" required></textarea>
				<br><br>
				
				<input type="file" id="file-selector" multiple> 
				<br><br>
				
				<label for="latlon"><b>Lokalizacja</b></label><br>
					<input type="text" id="lat" name="lat">
					<input type="text" id="lng" name="lng">
				<br><br>
			
				<button id="buttonGet" onclick="insertOffer()">Dodaj</button>
			</center>
		</div>
		
		<div id="map"></div>
		
		<button id="buttonAdd" onclick="addOffer()"> + </button>

		<script src="{{ url_for('static',filename='js/map.js') }}"> </script>
		<script src="{{ url_for('static',filename='js/offers.js') }}"> </script>
		<script src="{{ url_for('static',filename='js/main.js') }}"> </script>
	</body>
</html>
